<Directory {{ apache_directories[item].directory }}>
   {% if apache_directories[item].options is defined %}
   Options {{ apache_directories[item].options }}
   {% endif %}
   {% if apache_directories[item].allow_override is defined %}
   AllowOverride {{ apache_directories[item].allow_override }}
   {% endif -%}
   Require all granted
</Directory>
