<VirtualHost *:{{ apache_listen_port }}>
	ServerName {{ item.hostname }}
	{% if item.alias is defined %}ServerAlias {{ item.alias }}{% endif %}

	ServerAdmin {{ item.admin|default('webmaster@localhost') }}
	{% if item.virtual_docroot is defined %}VirtualDocumentRoot {{ item.virtual_docroot }}
	{% elif item.docroot is defined %}DocumentRoot {{ item.docroot }}{% endif %}

	ErrorLog ${APACHE_LOG_DIR}/error.log
	CustomLog ${APACHE_LOG_DIR}/access.log combined

	{% if item.docroot is defined %}<Directory {{ item.docroot }}>
	    Require all granted
	</Directory>{% endif %}

</VirtualHost>
